a:link { text-decoration: none;color: blue}
/*a:active { text-decoration:blink}*/
/*a:hover { text-decoration:none;color: red}*/
/*a:visited { text-decoration: none;color: green}*/

/*.router-link-active{*/
/*    text-decoration: underline*/
/*}*/
nav .activeNav{
    text-decoration:underline;
}